# --- Security ---
.env
*.env
.venv/
venv/
env/
allure-results/




# --- Python Cache ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/


*.log
.DS_Store
Thumbs.db

# --- IDE Settings ---
.idea/
.vscode/
*.swp